<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h4>HOME</h4>
   <p>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas eveniet dolorem molestias quibusdam, sed possimus nisi odio facere ducimus quia animi velit excepturi magni. Libero, exercitationem blanditiis? Officia, labore.
   </p>
   <h3>hero-slider</h3>
   <button>sing up </button>
</body>
</html>